[*.cs]

# S101: Types should be named in PascalCase
dotnet_diagnostic.S101.severity = none

# S2699: Tests should include assertions
dotnet_diagnostic.S2699.severity = none

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = silent

# IDE0040: Agregar modificadores de accesibilidad
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# S3246: Generic type parameters should be co/contravariant when possible
dotnet_diagnostic.S3246.severity = silent
